body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-light-gray {
    background: rgba( 45, 54, 62, 0.6);
    color: white;
    border-width: 0;
}

    .bg-light-gray .navbar-brand {
        color: white;
    }

    .bg-light-gray .navbar-nav > li > a {
        color: white;
    }

        .bg-light-gray .navbar-nav > li > a:hover,
        .bg-light-gray .navbar-nav > li > a:focus {
            color: white;
            background-color: gray;
        }

        .brand-icon {
            margin-top: 5px;
            margin-right: 20px;
        }
.hero-img {
    background-image: url(https://d3583ivmhhw2le.cloudfront.net/images/uploads/blog/2015-Hero-CleanWater.jpg);
    background-size: cover;
    height: 450px;
    text-align: center;
}

    .hero-img p {
        font-size: 100px;
        font-weight: bold;
        color: white;
        text-align: center;
    }

.contact-card-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-card {
    height: 400px;
    width: 300px;
    background-color: #f3f4fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.1);
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: medium;
}

    .contact-card .title {
        margin-top: 10px;
    }

.btn {
    border: 1px solid;
    border-radius: 50px;
}

.btn-lg {
    margin-top: 200px;
}
.btn-transparent {
    background: rgba(240, 255, 240, 0);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

    .btn-transparent:hover {
        background: rgba(240, 255, 240, 0.5);
        color: white;
    }

.display-flex {
    display:flex;
    align-items: center;
}

.margin-vertical-sm {
    margin-top: 14px;
    margin-bottom: 14px;
}

.margin-vertical-xs {
    margin-top: 7px;
    margin-bottom: 7px;
}

.margin-horizontal-sm {
    margin-left: 14px;
    margin-right: 14px;
}