@{
    ViewBag.Title = "Home Page";
}

<div class="hero-img">
    <p>Welcome</p>
    @Html.ActionLink("Sign in or Sign up >>", "Signin", "Home", new object { }, new { @class = "btn btn-transparent btn-lg" })
</div>

<div class="row margin-vertical-sm">
    <div class="col-md-4">
        <h4>24/7 ACCESS</h4>
        <p class="margin-vertical-xs">Access & edit your contacts from any device, anywhere, 24/7. This is a 100% web-based cloud system.</p>
        @Html.ActionLink("Learn more >>", "Contact", "Home", new object { }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h4>DETAILED CONTACT NOTES</h4>
        <p class="margin-vertical-xs">You and your team members can use the Contact History to make detailed notes about when anyone last contacted someone in your Address Book.</p>
        @Html.ActionLink("Learn more >>", "Contact", "Home", new object { }, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h4>FIND CONTACTS FAST</h4>
        <p class="margin-vertical-xs">You can easily find people in your contact book — search for any text in your address book (including in your free-text notes about people), sort by first or last name, or even sort contacts with tags. Never lose another contact!</p>
    </div>
</div>

<hr />

<div class="display-flex bg-light-gray margin-vertical-sm">
    <img width=50% src="https://www.lifewire.com/thmb/WX0trNDxky5QLRRGZ2QVTZ1TBr0=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-647510470-5af03f71a474be0036551fa3.jpg" />
    <div class="margin-horizontal-sm">
        <h3>An online contact book, at your service</h3>
        <p>
            It’s simple. This is a complete online solution to create and manage your contacts. Define contact categories such as organizations, emails, job titles, website, and other custom fields, thus, making it a great, flexible solution for sales teams as their CRM, HR for managing employees contact info, or purchases to manage providers data.
        </p>
        <p>
            However, you will receive much more than a contact management solution: create workflows, projects, web shared calendars, and document management — all in a single cloud platform.
        </p>
        <p>@Html.ActionLink("Join us >>", "Signin", "Home", new object { }, new { @class = "btn btn-transparent" })</p>
    </div>
</div>



<div class="row">
    <div class="col-md-3">
        <img width=100% height=260 src="https://previews.123rf.com/images/apinan/apinan1504/apinan150400013/39095463-business-email-marketing-content-connection-on-people-background.jpg" />
        <p class="margin-vertical-xs">Easy to use contact book:<br />The learning time is only few minutes.</p>
    </div>
    <div class="col-md-6">
        <img width=100% height=260 src="https://image.freepik.com/free-vector/email-marketing-business-banner_1325-133.jpg" />
        <p class="margin-vertical-xs">Group wise view of contact book:<br />Your contact book can be viewed in different categories or groups with few clicks.</p>
    </div>
    <div class="col-md-3">
        <img width=100% height=260 src="https://previews.123rf.com/images/apinan/apinan1506/apinan150600025/41676797-business-email-marketing-and-digital-content-background-social-network-communication-web-banner.jpg" />
        <p class="margin-vertical-xs">Safe and protected</p>
    </div>
</div>

<hr />